
p, h2 {
    margin: 0;
    font-family: 'Inter'
}

.ant-card .ant-card-body{
    display: flex;
    flex-direction: row;
    padding: 0;
}

.movie-card{
    display: flex;
    min-height: 279px;
}

.img-movie{
    width: 35%;

}

.movie-details{
    padding: 10px 5px 10px 20px;
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.name-movie{
    max-width: 250px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    padding-right: 10%;
    word-wrap: break-word;
}

.rating-circle{
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid; 
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.data-release{
    color: #827E7E;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
}

.genre-tag{
    font-size: 12px;
    margin-bottom: 3px;
    color: #6a6a6a;
}

.description {
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
}

.rate{
    margin-top: auto;
    display: flex;
}


@media (max-width: 768px) {

    .movie-card{
        min-height: 245px;
    }

    .ant-card-body {
        width: 100%;
    }

    .img-movie{
        padding: 10px;
        width: 20%;
        height: 40%;
        position: absolute;
    }

    .movie-details{
        width: 100%;
        padding: 10px;
    }

    .description{
        padding-top: 10px;
    }

     .rate {
        justify-content: flex-end;
    }

    .name-movie,.data-release, .genres{
        padding-left: 25%;
        
    }
}